.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-content {
        position: relative;
        padding: 20px;
        background-color: azure;
        max-width: 60%;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .btn-close {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.hidden-btn {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}